body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
	height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.language-switcher {
    padding: 15px;
}

.language-switcher button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.language-switcher button:hover {
    background-color: #555;
    transition: 0.5s;
}

main {
    width: 90%;
    margin: 20px auto;
	flex: 1;
}

section {
    margin-bottom: 20px;
}

section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

section a:hover {
    color: #555;
    text-decoration: underline;
    transition: 0.5s;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}