@font-face
{
	font-family: "ModeSeven";
	font-display: swap;
	src: url("https://space.ovh/fonts/ModeSeven.woff2") format("woff2")
}

@media screen and (max-width: 600px)
{
	.nav
	{
		height: 30%
	}
	
	.nav a
	{
		width: 100%
	}

	.content
	{
		height: 67%
	}

	.footer
	{
		height: 3%
	}
}

@media screen and (min-width: 600px)
{
	.nav
	{
		height: 7%
	}

	.content
	{
		height: 90%
	}

	.footer
	{
		height: 3%
	}
}

*
{
	box-sizing: border-box;
	font-family: "ModeSeven"
}

html,body
{
	margin: 0;
	height: 100%
}

a,p,li
{
	text-decoration: none;
	color: #4AF626
}

.nav
{
	overflow: hidden;
	position: sticky;
	top: 0;
	background-color: #000000
}

.nav a
{
	float: left;
	display: block;
	background-color: #000000;
	text-align: center;
	padding: 2vh 2vh;
	text-decoration: none;
	font-size: 3vh;
	transition: color 0.8s;
	transition: background-color 0.8s
}

.nav a:hover
{
	color: #000000;
	background-color: #4AF626
}

.content
{
	background-image: url("https://space.ovh/img/matrix.webp");
	background-size: 350px;
	background-repeat: repeat;
	background-position: center;
	padding: 20px;
	text-align: justify;
	font-size: 2vh
}

.footer
{
	text-align: center;
	background: #000000;
	font-size: 1.5vh;
	display: flex;
	justify-content: center;
  	align-content: center;
  	flex-direction: column;
}