@font-face
{
	font-family: "ModeSeven";
	font-display: swap;
	src: url("https://space.ovh/fonts/ModeSeven.woff2") format("woff2")
}

@media screen and (max-width: 600px)
{
	.nav a
	{
		width: 100%
	}

	.content img
	{
		width: 50%
	}
}

@media screen and (min-width: 600px)
{
	.content img
	{
		width: 30%
	}
}

*
{
	box-sizing: border-box;
	font-family: "ModeSeven"
}

html,body
{
	margin: 0
}

a,p,li
{
	text-decoration: none;
	color: #4AF626
}

.nav
{
	overflow: hidden;
	position: sticky;
	top: 0;
	background-color: #000000
}

.nav a
{
	float: left;
	display: block;
	background-color: #000000;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-size: 25px;
	transition: color 0.8s;
	transition: background-color 0.8s
}

.nav a:hover
{
	color: #000000;
	background-color: #4AF626
}

.content
{
	background-image: url("https://space.ovh/img/matrix.webp");
	background-size: 250px;
	background-repeat: repeat;
	background-position: center;
	padding: 20px;
	font-size: 3vh;
	text-align: justify
}

.content img
{
	float: left;
	padding-right: 20px
}

.footer
{
	padding: 14px 20px;
	text-align: center;
	background: #000000
}